<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="opticon-offline" value="./packages" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="opticon-offline">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
